{% extends 'adminBase.html.twig' %}

{% block mainPanel %}

    {{ form_start(form) }}
    {{ form_row(form._token) }}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ viewName }}
                </div>
                <div class="panel-body">

                    {{ form_errors(form) }}

                    <div class="col-xs-12">{{ form_row(form.active) }}</div>
                    <div class="col-xs-12">{{ form_row(form.active) }}</div>
                    <div class="col-xs-12">{{ form_row(form.name) }}</div>
                    <div class="col-xs-12">{{ form_row(form.description) }}</div>

                    <div class="col-xs-6">{{ form_row(form.contact_name) }}</div>
                    <div class="col-xs-6">{{ form_row(form.contact_email) }}</div>
                    <div class="col-xs-12">{{ form_row(form.institution) }}</div>
                    <div class="col-xs-12">{{ form_row(form.service_description_url) }}</div>

                    <p class="text-primary"> For ISA RLMS: </p>

                    <div class="col-xs-6">{{ form_row(form.guid) }}</div>
                    <div class="col-xs-6">{{ form_row(form.service_url) }}</div>

                    <div class="col-xs-6">{{ form_row(form.couponId) }}</div>
                    <div class="col-xs-6">{{ form_row(form.passkey) }}</div>

                    <p class="text-primary"> For Weblab Deusto RLMS: </p>

                    <div class="col-xs-6">{{ form_row(form.rlms_username) }}</div>
                    <div class="col-xs-6">{{ form_row(form.rlms_password) }}</div>

                </div>
            </div>
        </div>

    </div>

    {{ form_row(form.submit) }}
    {{ form_end(form) }}

{% endblock %}