{% extends 'adminBase.html.twig' %}

{% block mainPanel %}

        <div class="panel panel-primary">
                <div class="panel-heading">
                        {{ viewName }}
                </div>
                <div class="panel-body">
                        {% if exception %}
                                <div class="alert alert-danger col-lg-12">{{ message }}</div>
                        {% endif %}

                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form(form) }}
                        {{ form_end(form) }}
                </div>
        </div>

{% endblock %}
