{% extends 'adminBase.html.twig' %}

{% block mainPanel %}

    {{ form_start(form) }}
    {{ form_row(form._token) }}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Register New Lab Server
                </div>
                <div class="panel-body">
                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-xs-6">{{ form_row(form.name) }}</div>
                        <div class="col-xs-3">{{ form_row(form.type) }}</div>
                        <div class="col-xs-3">{{ form_row(form.active) }}</div>
                    </div>

                    {{ form_row(form.description) }}

                    <div class="row">
                        <div class="col-xs-6">{{ form_row(form.contact_name) }}</div>
                        <div class="col-xs-6">{{ form_row(form.contact_email) }}</div>
                    </div>

                    {{ form_row(form.contact_name) }}
                    {{ form_row(form.contact_email) }}
                    {{ form_row(form.institution) }}


                    <div class="alert alert-warning">
                        {{ form_row(form.useDataset) }}
                        <p class="fa fa-warning"></p>
                        If checked, the Dispatcher will search for an identical experiment specification already submitted.
                        If found, it will return the results from the dataset and a new experiment will not run.
                        Uncheck this option if debugging experiments or if you want that all experiments are executed.
                    </div>
                    <div class="alert alert-warning">
                        {{ form_row(form.singleEngine) }}
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="text-primary"> ISA-RLMS Specific Information </p>
                </div>
                <div class="panel-body">


                    {{ form_row(form.Guid) }}
                    {{ form_row(form.passKey) }}
                    {{ form_row(form.initialPassKey) }}
                    {{ form_row(form.labInfo) }}
                    {{ form_row(form.configuration) }}

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p class="text-primary">WebLab Deusto-RLMS Specific Information</p>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-6">{{ form_row(form.exp_category) }}</div>
                        <div class="col-xs-6">{{ form_row(form.exp_name) }}</div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    {{ form_row(form.submit) }}


    {{ form_end(form) }}


{% endblock %}

