{% extends 'adminBase.html.twig' %}

{% block mainPanel %}

    {% for api in apis %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    {{ api.name }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <ul class="list-unstyled">
                            <li><i class="fa fa-book fa-eye"></i> Lab Server GUID: <code>{{ api.guid }}</code></li>
                        </ul>
                        <p class="text-primary"> RLMS APIs: </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-gear fa-fw"></i> SOAP API Endpoint (MIT-ISA compliant): <code>{{ api.soap_endpoint }}</code></li>
                            <li><i class="fa fa-book fa-file-o"></i> WSDL (MIT-ISA compliant): <code><a href="{{ api.wsdl }}" target="_blank" >{{ api.wsdl }}</a></code></li>
                            <li><i class="fa fa-gear fa-fw"></i> JSON API Endpoint (UQ-ISA compliant): <code>{{ api.json_endpoint }}</code></li>
                            <li><i class="fa fa-book fa-key"></i> PassKey (MIT-ISA compliant): <code>{{ api.passkey }}</code></li>
                            <li><i class="fa fa-book fa-key"></i> Initial PassKey (used to install credentials of an ILS): <code>{{ api.initialPasskey }}</code></li>
                        </ul>
                        <p class="text-primary"> Lab Client APIs: </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-gear fa-fw"></i> Client SOAP API Endpoint (MIT-ISA compliant): <code>{{ api.client_soap_endpoint }}</code></li>
                            <li><i class="fa fa-book fa-file-o"></i> Client WSDL (MIT-ISA compliant): <code><a href="{{ api.client_wsdl }}" target="_blank" >{{ api.client_wsdl }}</a></code></li>
                        </ul>

                        <p class="text-primary">To call the LaunchLabClient SOAP action:</p>

                        <pre lang="xml">
<strong>POST</strong> /iLabServiceBroker/iLabServiceBroker.asmx HTTP/1.1
<strong>Content-Type</strong>: text/xml; charset=utf-8
<strong>Content-Length</strong>: length
<strong>SOAPAction</strong>: "http://ilab.mit.edu/iLabs/Type/LaunchLabClient"

&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;soap:Envelope&quot;&gt;
 &lt;soap:Header&gt;
    &lt;OperationAuthHeader xmlns=&quot;http://ilab.mit.edu/iLabs/type&quot; /&gt;
 &lt;/soap:Header&gt;
 &lt;soap:Body&gt;
    &lt;LaunchLabClient xmlns=&quot;http://ilab.mit.edu/iLabs/Services&quot;&gt;
         &lt;clientGuid&gt;<strong>string</strong>&lt;/clientGuid&gt;
         &lt;groupName&gt;<strong>string</strong>&lt;/groupName&gt;
         &lt;userName&gt;<strong>string</strong>&lt;/userName&gt;
         &lt;authorityKey&gt;<strong>string</strong>&lt;/authorityKey&gt;
         &lt;start&gt;<strong>dateTime</strong>&lt;/start&gt;
         &lt;duration&gt;<strong>long</strong>&lt;/duration&gt;
    &lt;/LaunchLabClient&gt;
  &lt;/soap:Body&gt;
&lt;/soap:Envelope&gt;
                        </pre>



                    </div>
                </div>
                <!-- /.panel-body -->


            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    {% endfor %}

{% endblock %}