{% extends 'adminBase.html.twig' %}

{% block mainPanel %}

    {% for api in apis %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    {{ api.name }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <ul class="list-unstyled">
                            <li><i class="fa fa-book fa-eye"></i> Lab Server GUID: <code>{{ api.guid }}</code></li>
                        </ul>
                        <p class="text-primary"> RLMS APIs: </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-gear fa-fw"></i> SOAP API Endpoint (MIT-ISA compliant): <code>{{ api.soap_endpoint }}</code></li>
                            <li><i class="fa fa-book fa-file-o"></i> WSDL (MIT-ISA compliant): <code><a href="{{ api.wsdl }}" target="_blank" >{{ api.wsdl }}</a></code></li>
                            <li><i class="fa fa-gear fa-fw"></i> JSON API Endpoint (UQ-ISA compliant): <code>{{ api.json_endpoint }}</code></li>
                            <li><i class="fa fa-book fa-key"></i> PassKey (MIT-ISA compliant): <code>{{ api.passkey }}</code></li>
                            <li><i class="fa fa-book fa-key"></i> Initial PassKey (used to install credentials of an ILS): <code>{{ api.initialPasskey }}</code></li>
                        </ul>
                        <p class="text-primary"> Lab Client APIs: </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-gear fa-fw"></i> Client SOAP API Endpoint (MIT-ISA compliant): <code>{{ api.client_soap_endpoint }}</code></li>
                            <li><i class="fa fa-book fa-file-o"></i> Client WSDL (MIT-ISA compliant): <code><a href="{{ api.client_wsdl }}" target="_blank" >{{ api.client_wsdl }}</a></code></li>
                        </ul>

                    </div>
                </div>
                <!-- /.panel-body -->


            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    {% endfor %}

{% endblock %}