{% extends 'adminBase.html.twig' %}

{% block mainPanel %}

    <div class="panel panel-primary">
    <div class="panel-heading">
        <p class="fa fa-cog"> Registered Experiment Engines</p>
    </div>
    <div class="panel-body">
        <a href="{{ path('add_engine') }}" class="btn btn-success">Create new Engine</a>

    <table class="table table-hover" id="dataTable">
        <thead>
        <tr>

            <th>ID</th>
            <th>Engine</th>
            <th>Lab Server</th>
            <th>Last Contact</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {%  for record in records %}

            <tr class="odd gradeX">
                <td>{{ record.id }}</td>
                <td>{{ record.name }}</td>
                <td>{{ record.labServerName }}</td>
                <td>
                    <div id="lastContact">
                        {% if record.lastContact is null %}
                            <span style="padding:.3em;">Never</span>
                        {% elseif (record.active == true) and (record.lastContact|date("U") > "-15 min"|date("U")) %}
                            <span title="< 15min" class="label label-success" style="padding:.3em;">{{record.lastContact}}</span>
                        {% elseif (record.active == true) and (record.lastContact|date("U") > "-60 min"|date("U")) %}
                            <span title="< 60min" class="label label-warning" style="padding:.3em;">{{record.lastContact}}</span>
                        {% elseif (record.active == true) and (record.lastContact|date("U") > "-1440 min"|date("U")) %}
                            <span title="< 24h" class="label label-warning" style="padding:.3em;background-color:LightCoral;">{{record.lastContact}}</span>
                        {% elseif (record.active == true) %} {# More than 1440 min (24h) #}
                            <span title="> 24h" class="label label-danger" style="padding:.3em;">{{record.lastContact}}</span>
                        {% else %} {# inactive #}
                            <span title="Inactive" style="padding:.3em;">{{record.lastContact}}</span>
                        {% endif %}
                    </div>
                </td>
                <td>
                    {% if record.active == true %}
                        <span class="label label-success">Active</span>
                    {% elseif record.active == false %}
                        <span class="label label-danger">Not Active</span>
                    {% else %}
                        {{ record.active }}
                    {% endif %}

                </td>
                <td>
                    <a href="{{ path('engines') }}/{{ record.id }}">
                        <i class="fa fa-edit"> view/edit</i>
                    </a>

                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
    </div>


    <script>


    </script>



{% endblock %}
