{% extends 'adminBase.html.twig' %}

{% block mainPanel %}


    <br/>
    <h3 class="page-header">{{ viewName }} ({{ numberOfJobs }} jobs found)</h3>

    <a href="{{ baseUrl }}{{ path('expRecords') }}?status=-1"><button type="button" class="btn btn-outline btn-default">All</button></a>
    <a href="{{ baseUrl }}{{ path('expRecords') }}?status=1&page={{ currentPage }}&labServerId={{ labServerId }}"><button type="button" class="btn btn-outline btn-primary">Queued</button></a>
    <a href="{{ baseUrl }}{{ path('expRecords') }}?status=3&page={{ currentPage }}&labServerId={{ labServerId }}"><button type="button" class="btn btn-outline btn-success">Completed</button></a>
    <a href="{{ baseUrl }}{{ path('expRecords') }}?status=2&page={{ currentPage }}&labServerId={{ labServerId }}"><button type="button" class="btn btn-outline btn-warning">In Progress</button></a>
    <a href="{{ baseUrl }}{{ path('expRecords') }}?status=5&page={{ currentPage }}&labServerId={{ labServerId }}"><button type="button" class="btn btn-outline btn-danger">Cancelled</button></a>
   <a href="{{ baseUrl }}{{ path('expRecords') }}?status=4&page={{ currentPage }}&labServerId={{ labServerId }}"><button type="button" class="btn btn-outline btn-danger">Completed with errors</button></a>


    <div class="table-responsive">
        <table class="table table-hover" id="experimentRecord">
        <thead>
        <tr>
            
            <th>ID</th>
            <th>Status</th>
            <th>RLMS ID</th>
            <th>RMLS Assigned ID</th>
            <th>processing Engine</th>
            <th>Lab Server ID</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
    {%  for record in records %}

        <tr class="odd gradeX">
            <td>{{ record.expID }}</td>
            <td>
                {% if record.jobStatus == 1 %}
                    <span class="label label-primary">Queued</span>
                {% elseif record.jobStatus == 2 %}
                    <span class="label label-warning">In Progress</span>
                {% elseif record.jobStatus == 3 %}
                    <span class="label label-success">Completed</span>
                {% elseif record.jobStatus == 4 %}
                    <span class="label label-danger">Completed with errors</span>
                {% elseif record.jobStatus == 5 %}
                    <span class="label label-danger">Cancelled</span>
                {% else %}
                    {{ record.jobStatus }}
                {% endif %}

            </td>
            <td>{{ record.providerId }}</td>
            <td>{{ record.rlmsAssignedId }}</td>
            <td class="center">{{ record.processingEngine }}</td>
            <td class="center">{{ record.labServerId }}</td>
            <td>
                <a href="{{ path('expRecords') }}/{{ record.expID }}">
                <i class="fa fa-folder-open"> View</i>
                </a>
            </td>
        </tr>
       {% endfor %}

        </tbody>
        </table>
        <a href="{{ baseUrl }}{{ path('expRecords') }}?page={{ previousPage }}&status={{ status }}&labServerId={{ labServerId }}"><button type="button" class="btn btn-default">Previous</button></a>
        {% for page in pages %}

            {% if (page > (currentPage - 4)) and (page < (currentPage + 4))  %}
                {%  if page == currentPage %}
                    <a href="{{ baseUrl }}{{ path('expRecords') }}?page={{ page }}&status={{ status }}&labServerId={{ labServerId }}"><u>{{ page }}</u></a>
                {% else %}
                    <a href="{{ baseUrl }}{{ path('expRecords') }}?page={{ page }}&status={{ status }}&labServerId={{ labServerId }}">{{ page }} </a>
                {% endif %}
            {% endif %}

        {% endfor %}
        <a href="{{ baseUrl }}{{ path('expRecords') }}?page={{ nextPage }}&status={{ status }}&labServerId={{ labServerId }}"><button type="button" class="btn btn-default">Next</button></a>
    </div>

{% endblock %}