{% extends 'adminBase.html.twig' %}

{% block mainPanel %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            Manage your RLMS(s) credentials
        </div>
        <div class="panel-body">

            <a href="{{ path('add_rlms') }}" class="btn btn-success"><i class="fa fa-cloud-upload"></i> Create new Authority</a>

            <div class="table-responsive">
                <table class="table table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Owner</th>
                        <th>Lab Server mapping</th>
                        <th>View/Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for record in records %}

                        <tr class="odd gradeX">
                            <td>
                                {% if record.active == true %}
                                    <span class="label label-success">Active</span>
                                {% elseif record.active == false %}
                                    <span class="label label-danger">Not Active</span>
                                {% else %}
                                    {{ record.active }}
                                {% endif %}
                            </td>
                            <td>{{ record.name }}</td>
                            <td>{{ record.rlmsType }}</td>
                            <td>{{ record.ownerFirstName }} {{ record.ownerLastName }} ({{ record.ownerUsername }})</td>
                            <td>
                                <a href="{{ path('rlms_ls_mapping') }}/{{ record.id }}">
                                    <i class="fa fa-edit"> Associate/Dissociate</i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('edit_rlms') }}/{{ record.id }}">
                                    <i class="fa fa-edit"> view/edit</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}