{% extends 'adminBase.html.twig' %}

{% block mainPanel %}

    <div class="col-lg-12">
        <h3 class="page-header">{{ viewName }}</h3>
    </div>
    <p>Associate Lab Servers with any remote laboratory management system you own. By associating a lab server with an RLMS
        the lab server will be ready to be installed in the consumer RLMS. If you are using an iLab Service Broker, please have in mind
        that an interactive lab server can be associated with a single service broker.
    </p>

    <div class="col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            Your Lab Servers
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Lab Server Name</th>
                        <th>Owner</th>
                        <th>Lab Server Type</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for labserver in labservers %}

                        <tr class="odd gradeX">
                            <td>{{ labserver.id }}</td>
                            <td>{{ labserver.name }}</td>
                            <td>{{ labserver.ownerFirstName }} {{ labserver.ownerLastName }} ({{ labserver.ownerUsername }})</td>
                            <td>{{ labserver.type }}</td>
                            <td>
                                {% if labserver.mapped == true %}
                                    <a href="{{ path('rlms_ls_mapping') }}/{{ rlmsId }}?labServerId={{ labserver.id }}&newMapping=0"><button type="button" class="btn btn-success btn-sm"><i class="fa fa-link"></i> Dissociate</button></a>
                                {% elseif labserver.mapped == false %}
                                    <a href="{{ path('rlms_ls_mapping') }}/{{ rlmsId }}?labServerId={{ labserver.id }}&newMapping=1"><button type="button" class="btn btn-danger btn-sm"><i class="fa fa-link"></i> Associate</button></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

{% endblock %}